.every-icons {
    display: inline-block;
    padding: 10px;
    text-align: center;
}
.cards {
    width: 200px;
}
.animal i{
    color: brown;
}
.vegetable i {
    color: green;
}
.user i {
    color: purple;
}
.names {
    font-weight: bold;
}